<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>http://cdn13.img22.ria.ru/images/104214/08/1042140824.jpg</string>
		<key>title</key>
		<string>Цена нефти марки Brent впервые с 2004 года упала ниже $31 за баррель

РИА Новости http://ria.ru/economy/20160112/1358349950.html#ixzz3x22Ropxp</string>
		<key>date</key>
		<string>2016-01-12</string>
		<key>author</key>
		<string>РИА Новости</string>
		<key>description</key>
		<string>По словам Качикву, ряд членов ОПЕК выступает за проведение экстренного заседания, однако ОАЭ не поддерживает эту идею. &quot;Существует много инициатив… от различных блоков ОПЕК (по поддержке этой встречи — ред.)&quot;, — сказал министр нефти Нигерии.

Цена нефти марки Brent впервые с 2004 года упала ниже $31 за баррель
Предыдущее заседание ОПЕК прошло 4 декабря 2015 года. По его итогам организация не приняла решения по изменению квоты на добычу нефти, составляющей 30 миллионов баррелей в день, при этом решила сохранить уровень фактической добычи, который превышает квоту на 1,5 миллиона баррелей, несмотря на низкие цены и переизбыток сырья на рынке.

На этом фоне цены на нефть обновили семилетние минимумы — WTI ниже 35 долларов за баррель, Brent — ниже 38 долларов. Баррель нефти ОПЕК 14 декабря прошлого года подешевел на 3,43%, впервые с апреля 2004 года упав до 32,6 доллара. В начале 2016 года обвал продолжился. Ранее во вторник нефть марки Brent впервые с февраля 2004 года упала ниже психологической отметки в 31 доллар за баррель.
</string>
		<key>likes</key>
		<string>41</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://echo.msk.ru/files/2425144.jpg</string>
		<key>title</key>
		<string>Звездолёт «Смольный»</string>
		<key>date</key>
		<string>2016-01-12</string>
		<key>author</key>
		<string>Татьяна Маршанова</string>
		<key>description</key>
		<string>Смольный собор превратился в звездолёт. Особенно красиво вечером. Храм уже передан РПЦ, кресты сняли, сотрудники музея и концертного зала собирают вещи. Не знаю, что будет с чудесным оргАном, который там установили несколько лет назад. 
А ещё говорят, что ремонт делают за счёт городского бюджета. Интересно, с какого перепуга? </string>
		<key>likes</key>
		<string>123</string>
	</dict>
	<dict>
		<key>image</key>
		<string>http://yikaobang-test.u.qiniudn.com/FnZTPYbldNXZi7cQ5EJHmKkRDTkj</string>
		<key>title</key>
		<string>Заголовок карточки объекта</string>
		<key>date</key>
		<string>2016-01-12</string>
		<key>author</key>
		<string>Резников Виктор Петрович</string>
		<key>description</key>
		<string>Блог (англ. blog, от web log — интернет-журнал событий, интернет-дневник, онлайн-дневник) — веб-сайт, основное содержимое которого — регулярно добавляемые записи, содержащие текст, изображения или мультимедиа. Для блогов характерны недлинные записи вре́менной значимости, упорядоченные в обратном хронологическом порядке (последняя запись сверху). Отличия блога от традиционного дневника обусловливаются средой: блоги обычно публичны и предполагают сторонних читателей, которые могут вступить в публичную полемику с автором (в комментарии к блогозаписи или своих блогах).

Людей, ведущих блог, называют бло́герами[1][2]. Совокупность всех блогов Сети принято называть блогосферой.

Для блогов характерна возможность публикации отзывов (комментариев) посетителями. Она делает блоги средой сетевого общения, имеющей ряд преимуществ перед электронной почтой, группами новостей, веб-форумами и чатами.

Под блогами также понимаются персональные сайты, которые состоят в основном из личных записей владельца блога и комментариев пользователей к этим записям.

Первым блогом считается страница Тима Бернерса-Ли, где он, начиная с 1992 г., публиковал новости. Более широкое рас­пространение блоги получили с 1996 г. В августе 1999 г. компью­терная компания Pyra Labs из Сан-Франциско открыла сайт Blogger.com, который стал первой бесплатной блоговой службой.</string>
		<key>likes</key>
		<string>11</string>
	</dict>
</array>
</plist>
